*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
font-family: 'Caveat', cursive; 
}
:root{
    font-size: 10px;
    --lightgreen: #658b62;
    --darkgreen: #315343;
    --darkbrown: #584d2f;
    --brown: #deb887;
    --lightbrown: #b89555;
    --fontcol: #8b5900;
    background-color: bisque;
}

/* Scrollbar */
body::-webkit-scrollbar{
    width: 0.7rem;
}
body::-webkit-scrollbar-track{
    background: rgb(255, 228, 196);
}
body::-webkit-scrollbar-thumb{
    background:rgb(46, 39, 23);
}

/* navigation */
nav{
    z-index: 99;
    position: sticky;
    top: 0;
    background-color:var(--darkgreen);
    height: 4rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.507);
}
nav ul{
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    border-bottom: 3px solid #e61;
}

.checkbtn{
    cursor: pointer;
    float: right;
    font-size: 3rem;
    margin: .5rem;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 450px){
    .checkbtn{
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 4rem;
        left: -100%;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav{
        position: fixed;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
    
  #check:checked ~ ul{
    left: 0;
  }
    

}
/* /navigation */
.header{
    background-color: var(--lightgreen);
    color:white;
    text-align: center;
    font-size: 7rem;
    padding: 1rem 0 3rem 0;
}

.container{
    background-color: inherit;
    width: 100%;
    text-align: center;
    padding: 3rem 0 6rem 0;
}

.welcome .header{
    background: url(./welcomepic.jpg) center no-repeat fixed;
    height: 80vh;
    background-size: cover;
    position: relative;
}

.title{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AuJ{
    position: absolute;
    text-align: center;
    font-size: 7rem;
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    bottom: 15vh;
    right: 20vw;
}


.invitation .container{
    background-color: bisque;
    height: 40vh;
}
/* .invitation::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background: url(./waveup.svg) center no-repeat;
    background-size: cover;
} */

.countdown .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}

.countdown .container .seperator {
    height: 2px;
    width: 45vw;
    background-color: #315343;
}

.countdown .container #clockdiv{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
}
.countdown .container #clockdiv div{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}

.timeline{
    background-color: #f5fffa;
}
.timeline .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    padding: 0rem 0 0rem 0;
    background-color: bisque;
}
.timeline .container .ablauf{
    
    padding: 3rem 0 6rem 0;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";
      font-size: 4rem;
}
.timeline .container .ablauf .right{
    text-align: left;
    align-self: center;
}
.timeline .container .ablauf .left{
    text-align: right;
    align-self: center;
}
.timeline .container .ablauf .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timeline .container .tlbild{
    background: url(./tlright.jpg) no-repeat ;
    background-size: cover;
    box-shadow: -8px 0px 8px -8px rgba(0, 0, 0, 0.226), -20px 0px 20px -20px rgba(0, 0, 0, 0.507);
}
.timeline .container .linecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.timeline .container .line{
    width: 2px;
    height: 100%;
    background-color:var(--darkgreen) ;
}



.locations .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.568), 0 10px 10px 0 rgba(0, 0, 0, 0.301);
    z-index: 90;
}
.locations .container .seperator{
    background-color: #315343;
    width: 5px;
}.locations .container .seperator{
    background-color: #315343;
    width: 5px;
}
.locations .container h1{
    margin-top: 5rem;
    font-size: 6rem;
    text-decoration: none;
}
.locations .container .locationss .seperator{
    
    height: 2px;
    width: 90rem;
}
.locations .container .locationss .location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.locations .container .locationss .location .map{
    background-color: #584d2f;
    width: 30rem;
    height: 30rem;
}
.locations .container .locationss .location .adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    width: 50rem;
    height: 30rem;
}

.locations .container .locationone .map{
    background: url(./kircheloc.jpg) center no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 3px solid #f5fffa;
}
.locations .container .locationone .adress{
    box-shadow: 5px -5px 2px -3px rgba(77, 99, 66, 0.459), 10px -10px 2px -3px rgba(77, 99, 66, 0.178);
}
.locations .container .locationtwo .map{
    background: url(./festloc.jpg) center no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 3px solid #f5fffa;
}


.locations .container .locationtwo .adress{
    /* -webkit-box-shadow: -10px 10px 2px -3px rgba(77,99,66,1);
    -moz-box-shadow: -10px 10px 2px -3px rgba(77,99,66,1);*/
    box-shadow: -5px 5px 2px -3px rgba(77, 99, 66, 0.459), -10px 10px 2px -3px rgba(77, 99, 66, 0.178);
}

.location-feedback-bild{
    background: url(./locfeedbild.jpg) center no-repeat fixed;
    height: 70vh;
    background-size: cover;
}



/*  Anmeldeformular_div----------------------------------------------------*/

.feedback{
    background-color: bisque;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

form{
    background-color: inherit;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 10px 1fr 1fr 1fr 1fr 10px 1fr;
    gap: 15px 3px;
    
}

.feedback .line-l{
    grid-row: 1 / 13;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.feedback .line-l div{
    height: 100%;
    width: 4px;
    background-color: var(--darkgreen);
}
.feedback .line-r{
    grid-row: 1 / 13;
    grid-column: 8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.feedback .line-r div{
    height: 100%;
    width: 4px;
    background-color: var(--darkgreen);
}



.zusage-C{
    grid-column: 4;
    font-family: 'Noto Sans JP', sans-serif;
}
.absage-C{
    grid-column: 5;
    grid-row: 1;
    font-family: 'Noto Sans JP', sans-serif;
}

#myBtn{
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 16pt;
    text-align: center;
    width: 10%;
    margin: auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid rgb(53, 53, 42);
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}
#myBtn:hover{
    background-color:var(--darkgreen);
    color: #f5fffa;
    cursor: pointer;
}

#sendbtn{
    display: none;
    z-index: 100;
    margin: 35% auto; /* 15% from the top and centered */
    width: 20%;
    padding: 5px;
}

.numbers{
    grid-column: 2 / span 2;
    display: flex;
    justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  font-size: 4rem;
  font-family: 'Noto Sans JP', sans-serif;
}
.sage-C{display: flex;
    justify-content: center;
}
.sage-C label{
    display: block;
    box-sizing: border-box;
    width: 50%;
    cursor: pointer;
    font-size: 3.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: 4px solid bisque;
}.zusage-C label:hover{
    border-bottom: 4px solid var(--lightgreen);
}
.zusage-C input:checked + label{
    border-bottom: 4px solid var(--lightgreen);
}
.absage-C label:hover{
    border-bottom: 4px solid rgb(177, 73, 47);
}
.absage-C input:checked + label{
    border-bottom: 4px solid rgb(177, 73, 47);
}
.sage-C input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.teilnehmer{
    grid-column: 4 / span 2;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}
#teilnehmer1{
    display: inline;
}#teilnehmer2{
    display: none;
}#teilnehmer3{
    display: none;
}#teilnehmer4{
    display: none;
}#teilnehmer5{
    display: none;
}#teilnehmer6{
    display: none;
}#teilnehmer7{
    display: none;
}#teilnehmer8{
    display: none;
}#teilnehmer9{
    display: none;
}

.fa-times-circle{
    margin-left: 1.5rem;
    font-size: 2.5rem;
}
.fa-times-circle:hover{
    cursor: pointer;
    color: var(--lightgreen);
}
.gasthinz{
    box-sizing: border-box;
    grid-column: 4;
    font-size: 1.5rem;
}
.gasthinz > i{
    font-family: 'Noto Sans JP', sans-serif;
}
.gasthinz :hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(53, 53, 42);
}

label{
    font-size: 16pt;
    text-align: center;
}
input[type=text]{
    height: 35px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid rgb(53, 53, 42); 
    outline: none;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
input[type=text]:focus {
    border: none;
    border-bottom: 3px solid rgb(167, 209, 202);
}
input[type=submit]{
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 16pt;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid rgb(53, 53, 42);
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}input[type=submit]:hover{
    background-color:var(--darkgreen);
    color: #f5fffa;
    cursor: pointer;
}input[type=submit]:active{
    border-color:rgb(231, 225, 225) ;
}
  /* /Anmeldeformular----------------------------------------------------*/


  .modal {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 40%;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }